<section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="fundpress-inner-about-content">
                    <h2 class="color-navy-blue">We are changing the way of making things possible.</h2>
                    <p>“FundPress is one of those platforms that gives you space to work with people who know you, love you, and support you.” </p>
                    <a href="#" class="xs-sign-logo">
                        <img src="assets/images/signature_logo.png" alt="Fundpress author sign">
                    </a>
                </div>
                <!--  
                    xs-inner-title 
                    xs-padding-right 
                    fundpress-inner-title 
                    xs-equal-height-and-content-center
                -->
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="fundpress-about-promo-image xs-box-shadow">
                    <img src="assets/images/about.jpg" alt="">
                </div>
                <!-- 
                    fundpress-about-promo-image 
                    xs-box-shadow
                -->
            </div>
        </div>
    </div>
</section>